/*          ANIMATIONS START HERE    */
.logo {
  animation: pulse 3s linear infinite;
}

@keyframes pulse {
  0% { transform: scale(.9) }
  50% { transform: scale(1.2) }
  100% { transform: scale(1) }
}

/* .mario {
  animation: drive 5s 0.3s ease-in infinite forwards;
} */

/* .luigi {
  animation: drive 2s 0.3s ease-in infinite forwards;
} */

/* @keyframes drive{
  from{ transform: translateX(0px) }
  to{ transform: translateX(1300px) }
} */

/* WRITE YOUR ANIMATIONS HERE*/

.spinner-1 {

}

.spinner-2 {

}

.spinner-3 {

}

.spinner-4 {

}

.spinner-5 {

}

.spinner-6 {

}
